body {
	background-color: black;
	color: white;
	font-family: 'Advent Pro', sans-serif;
}

.container-resume {
	background-color: #FA8072;
	width: 800px;
	margin: auto;
	padding: 50px;
}

@media screen and (min-width: 480px) {
	body {
		background-color: ;
		width: 80%;
		max-width: 1000px;
}

.headline-main{
	font-size: 50px;
}


hr{
	color: white;
	margin: 50px 0;
}

.resume-navigation{
	background-color: black;
	height: 50px;
}

.resume-navigation li{
	display: inline-block;
	padding: 0 10px;
}

.aboutme-link {
	color: white;
}

.headline-main {
	font-size: 36px;
	font-weight: 700px;
}


.contact-link {
	color: white;
	text-decoration: none;
}

.contact-link:hover{
	color: black;
}