.aboutme-body {
	background-color: #9370DB;
}

.daniellemcaruso {
	font-size: 20px;
	color: #F0F8FF;
	font-family: Lucida Console;
}
.aboutme-paragraph {
	color: #F0F8FF;
	font-family: Lucida Console;
}